#confirm_modal_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    background-color: white;
    z-index: 5;
}
